.THIS {
}

.THIS .chair
    {
    	display: inline-block;
        width: 20px;
    	height: 20px;
    	/*border: 1px dashed #060606;*/
    	margin: -25px 10px 0px 0px;
    }

.THIS .audiencelabel {
  background: #F4D03F;/* #5cb85c;*/
  -webkit-animation-name: rubberBand;
      animation-name: rubberBand;
  animation-duration: 300ms;
  animation-fill-mode: both;
}